<% @pics.each do | pic | %>

	<div class="fishbox span4 text-center">
		<h1 class="custom-h1">Lesson: <%= pic.lesson %> <br /></h1>

		<%= image_tag  pic.picture %><br/>

			<h3>Emotion: <%= pic.emotion %> <br /></h3>
			<h3>Learned: <%= pic.learned %></h3>

		</h2>

	</div>

<% end %>



